body {
    height: 100vh;

    background: linear-gradient(90deg, rgba(2, 0, 36, 1) 14%, rgba(6, 0, 45, 1) 42%, rgba(24, 0, 82, 1) 56%, rgba(152, 149, 162, 1) 69%, rgba(163, 163, 163, 1) 93%);
    /*background: url(unnamed,jpg) no-repeat center/cover; */
}

p {
    color: whitesmoke;
}

.card-body {}

.card-footer {}